
.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 20px;


    .collapse {
        width: 80%;
        margin-bottom: 30px;
        
        .collapse-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $first-color;
            padding: 10px 15px;
            border-radius: 5px;
            color: white;
            position: relative;
            z-index: 1;

            h2 {
                font-size: 24px;
                margin: 0;
            }
        
            .arrow {
                cursor: pointer;
                transition: transform 0.3s ease-out;
            
                &.open {
                    transform: rotate(180deg);
                }
            }
        }
        
        .collapse-content {
            background-color: #F6F6F6;
            transition: max-height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
            transform: translateY(-50%);
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0 15px;
            font-size: 18px;
            z-index: 0;

            &.open {
                transform: translateY(0);
                max-height: 200px;
                // height: auto;
                opacity: 1;
                // padding: 15px 15px;
            }
        }
    }
}