.fiche-logement-collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 94%;
    margin-right: 5rem;    
    margin-left: 5rem;
    gap: 56px;
    //   margin-top: 24px;

    // .collapse {
        // flex: 1;
        // max-width: calc(50% - 38px);
    
        .collapse-title h2 {
            font-size: 18px !important;
        }

        .collapse-content {
            font-size: 18px !important;
            min-height: 200px;
        }
    // }
}