/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
* {
  box-sizing: border-box;
  margin: 0rem;
}

body {
  min-width: 375px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body {
    margin: 1rem;
  }
}
body #root {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  body #root {
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root {
    box-sizing: border-box;
    width: 100%;
  }
}
body #root .header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem 3rem 5rem;
  width: 90%;
}
@media screen and (max-width: 767px) {
  body #root .header-banner {
    margin: 1.2rem;
    width: 90%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root .header-banner {
    margin: 2rem;
    width: 92%;
  }
}
@media screen and (max-width: 767px) {
  body #root .header-banner .logo {
    max-width: 9rem;
  }
}
body #root .header-banner nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-left: 0;
  width: 22%;
}
@media screen and (max-width: 767px) {
  body #root .header-banner nav {
    width: 43%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root .header-banner nav {
    width: 30%;
  }
}
body #root .header-banner .nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  body #root .header-banner .nav-link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root .header-banner .nav-link {
    font-size: 18px;
  }
}
body #root .header-banner .nav-link.active {
  text-decoration: underline;
}
body #root .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem 5rem 0rem 5rem;
  width: 90%;
}
@media screen and (max-width: 767px) {
  body #root .container {
    width: 90%;
    margin: 1.2rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root .container {
    width: 90%;
    margin: 2rem;
  }
}
body #root .footer-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  background-color: #000000;
  padding: 3rem 3rem 2rem 3rem;
  color: white;
}
body #root .footer-banner p {
  padding-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  body #root .footer-banner {
    width: 100%;
    height: 13rem;
    margin-top: 1rem;
    padding: 1rem 0;
  }
  body #root .footer-banner p {
    width: 8rem;
    font-size: 12px;
    padding-top: 0.625rem;
    text-align: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body #root .footer-banner {
    width: 100%;
    height: 13rem;
    margin-top: 1rem;
    padding: 1rem 0;
  }
  body #root .footer-banner p {
    width: 8rem;
    font-size: 12px;
    padding-top: 0.625rem;
    text-align: center;
  }
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
.fiche-logement-collapses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .fiche-logement-collapses {
    flex-direction: column;
    width: 100%;
  }
}
.fiche-logement-collapses .collapse {
  flex: 1;
  max-width: calc(50% - 40px);
  margin: 1rem 0 2.5rem 0;
}
@media screen and (max-width: 767px) {
  .fiche-logement-collapses .collapse {
    max-width: 100%;
    margin: 0;
  }
}
.fiche-logement-collapses .collapse .collapse-content ul {
  margin: 1rem -2rem;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .fiche-logement-collapses .collapse .collapse-content ul {
    font-size: 12px;
    margin: 0.5rem -2.5rem;
  }
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
.about-collapses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem 4rem;
}
@media screen and (max-width: 767px) {
  .about-collapses {
    margin: 0;
  }
}
.about-collapses .collapse {
  width: 80%;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .about-collapses .collapse {
    width: 100%;
    margin-bottom: 0rem;
  }
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  overflow: hidden;
  margin: 0 5rem;
}
@media screen and (max-width: 767px) {
  .carousel {
    width: 100%;
    height: 255px;
    margin: 0;
  }
}
.carousel .carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .carousel .carousel-image {
    border-radius: 10px;
  }
}
.carousel .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.carousel .carousel-button img {
  width: 96px;
  height: 120px;
}
@media screen and (max-width: 767px) {
  .carousel .carousel-button img {
    width: 24px;
    height: 24px;
  }
}
.carousel .carousel-button.prev {
  left: 5px;
}
@media screen and (max-width: 767px) {
  .carousel .carousel-button.prev {
    left: -5px;
  }
}
.carousel .carousel-button.next {
  right: 5px;
}
@media screen and (max-width: 767px) {
  .carousel .carousel-button.next {
    right: -5px;
  }
}
.carousel .carousel-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .carousel .carousel-counter {
    color: transparent;
  }
}

.logement-info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 5rem 0.5rem 5rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .logement-info {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
  }
}
.logement-info .left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .logement-info .left-column {
    margin-top: 0rem;
    width: 100%;
  }
}
.logement-info .left-column h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .logement-info .left-column h1 {
    font-size: 18px;
  }
}
.logement-info .left-column p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .logement-info .left-column p {
    font-size: 14px;
  }
}
.logement-info .left-column .tags {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .logement-info .left-column .tags {
    margin-top: 0.5rem;
  }
}
.logement-info .left-column .tags .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6060;
  color: white;
  padding: 2px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  min-height: 25px;
}
@media screen and (max-width: 767px) {
  .logement-info .left-column .tags .tag {
    font-size: 10px;
  }
}
.logement-info .right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .logement-info .right-column {
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.logement-info .right-column .host-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .logement-info .right-column .host-info {
    margin-bottom: 0;
  }
}
.logement-info .right-column .host-info .host-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .logement-info .right-column .host-info .host-name {
    font-size: 12px;
  }
}
.logement-info .right-column .host-info .host-name p {
  margin: 0;
  text-align: right;
}
.logement-info .right-column .host-info .host-name p:first-child {
  margin-bottom: 3px;
}
.logement-info .right-column .host-info img {
  background-color: #C4C4C4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .logement-info .right-column .host-info img {
    width: 32px;
    height: 32px;
  }
}
.logement-info .right-column .rating {
  display: flex;
  gap: 5px;
}
.logement-info .right-column .rating .star {
  width: 30px;
  height: 30px;
  fill: #E3E3E3;
}
@media screen and (max-width: 767px) {
  .logement-info .right-column .rating .star {
    width: 18px;
    height: 18px;
  }
}
.logement-info .right-column .rating .star--active {
  fill: #FF6060;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error-page h1 {
  font-size: 18rem;
  font-weight: bold;
  color: #FF6060;
  margin: 8rem 0;
}
@media screen and (max-width: 767px) {
  .error-page h1 {
    font-size: 6rem;
  }
}
.error-page p {
  font-size: 2.25rem;
  font-weight: 500;
  color: #FF6060;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .error-page p {
    font-size: 1.125rem;
  }
}
.error-page a {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 8rem 0;
}
@media screen and (max-width: 767px) {
  .error-page a {
    font-size: 0.875rem;
  }
}

.hero-section {
  position: relative;
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-position: center;
  height: 220px;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .hero-section {
    width: 100%;
    height: 111px;
    margin: 0;
    border-radius: 10px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .hero-section {
    width: 100%;
    margin: 0 0 1.5rem 0;
    border-radius: 15px;
    justify-content: flex-start;
  }
}
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .hero-section .overlay {
    border-radius: 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .hero-section .overlay {
    border-radius: 15px;
  }
}
.hero-section h1 {
  position: relative;
  z-index: 2;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero-section h1 {
    font-size: 24px;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 225px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .hero-section h1 {
    font-size: 32px;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .collapse-title {
    height: 30px;
    margin-top: 1rem;
    padding: 0rem 0.7rem;
  }
}
.collapse-title h2 {
  font-size: 24px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .collapse-title h2 {
    font-size: 13px;
  }
}
.collapse-title .arrow {
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}
@media screen and (max-width: 767px) {
  .collapse-title .arrow {
    width: 6%;
  }
}
.collapse-title .arrow.open {
  transform: rotate(0deg);
}

.collapse-content {
  background-color: #F6F6F6;
  transition: max-height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-50%);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 18px;
  z-index: 0;
}
.collapse-content p {
  margin: 1rem 0.3rem;
}
@media screen and (max-width: 767px) {
  .collapse-content p {
    font-size: 12px;
    margin: 0.5rem 0;
  }
}
.collapse-content.open {
  transform: translateY(0);
  max-height: 200px;
  opacity: 1;
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
.card-list {
  width: 100%;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    background-color: transparent;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
  }
  .card-list a {
    height: 255px;
    min-width: 335px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    background-color: transparent;
    margin: 0;
    margin-top: 1rem;
    padding: 2.5rem;
    width: 100%;
  }
  .card-list a {
    height: 335px;
  }
}
.card-list .card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  height: 340px;
  width: 340px;
}
@media screen and (max-width: 767px) {
  .card-list .card {
    height: 255px;
    width: 100%;
  }
}
.card-list .card.card-empty {
  background: #FF6060 100%;
}
.card-list .card.card-empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #0a0a0a 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.card-list .card .card-title {
  width: 40%;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  margin: 0;
  color: white;
  text-overflow: ellipsis;
}
.card-list .card .card-image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */