.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.error-page h1 {
  font-size: 10rem;
  color: red;
  margin: 0;
}
.error-page p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.error-page a {
  color: red;
  text-decoration: underline;
  font-size: 1.2rem;
}

.banner {
  position: relative;
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-position: center;
  height: 220px;
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 25px;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: 25px;
}
.banner h1 {
  position: relative;
  z-index: 2;
  font-size: 48px;
  text-align: center;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}
.collapse-container .collapse {
  width: 80%;
  margin-bottom: 30px;
}
.collapse-container .collapse .collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.collapse-container .collapse .collapse-title h2 {
  font-size: 24px;
  margin: 0;
}
.collapse-container .collapse .collapse-content {
  background-color: #F6F6F6;
  padding: 15px;
  font-size: 20px;
  border-radius: 0 0 5px 5px;
}

.arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(0deg);
}

.card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 10px;
  height: 340px;
  width: 340px;
  cursor: pointer;
}
.card.card-empty {
  background: #ff6060 100%;
}
.card.card-empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #0a0a0a 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}
.card .card-title {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  margin: 0;
  color: white;
  text-overflow: ellipsis;
}
.card .card-image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-list {
  background-color: #F6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 3.5rem;
  margin: 3rem 5rem 3rem 5rem;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem 3rem 5rem;
  font-size: 24px;
  font-weight: 500;
}

.footer-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  background-color: black;
  padding: 3rem 3rem 0 3rem;
  color: white;
}

.nav-link {
  margin-left: 3rem;
  text-decoration: none;
  color: black;
}
.nav-link.active {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */