body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
  
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem 3rem 5rem;
  font-size: 24px;
  font-weight: 500;
  
  // &__img {
  // display: flex;
  // align-items: flex-start;
  // margin: 0;
  // width: 9rem;

  //   img {
  //     width: 150%;
  //   }
  // }    
}

.footer-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  background-color: black;
  padding: 3rem 3rem 0 3rem;
  // margin: 0;
  color: white;    
}  

.nav-link {
  margin-left: 3rem;
  text-decoration: none; 
  color: black; 
      
  &.active {
    text-decoration: underline;
  }
}




